h1 {
    color: chocolate;
}

body {
    background: antiquewhite;
}

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color:blueviolet;
}